<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Registration</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1>User Registration</h1>
        <form action="#" th:action="@{/register}" th:object="${appUser}" method="post">

        <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>

            <label for="role">Role:</label>
            <select id="role" name="role" th:field="*{role}">
                <option value="APPUSER">AppUser</option>
                <option value="LOAN_OFFICER">Loan Officer</option>
                <option value="MANAGER">Manager</option>
                <option value="UNDERWRITER">Underwriter</option>
                <option value="ADMIN">Admin</option>
            </select>

            <input type="submit" value="Register">
        </form>

    </body>
</html>
